<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
<div class="admin_container">
    <div class="h2 text-center head">
        Админка
    </div>
    {% block menu %}
        <div class="admin_menu">
              <ul class="menu">
                <li>
                    <a href="{% url 'main:index' %}">на сайт</a>
                </li>
                <li>
                    <a href="{% url 'myadmin:index' %}"
                       class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                        пользователи
                    </a>
                </li>
                <li>
                    <a href="{% url 'myadmin:productcategory_list' %}"
                       class="{% if request.resolver_match.url_name == 'productcategory_list' %}active{% endif %}">
                        категории{% if category %}:<span>{{ category.name }}</span>{% endif %}
                    </a>
                </li>
            </ul>

        </div>
    {% endblock %}

    {% block container %}
    {% endblock %}

</div>
</body>
</html>