{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="user_delete">
        Вы точно хотите удалить категорию <b>{{ object.name }}</b>?
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <a href="{% url 'myadmin:productcategory_list' %}" class="btn btn-success">
            отмена
        </a>
    </div>
{% endblock %}
